JavaScript Object Notation (JSON)

In [10]:
import json
import pandas as pd

In [6]:
contact = json.loads("""{ 
    "firstName": "John", 
    "lastName": "Smith", 
    "isAlive": true, 
    "age": 27, 
    "address": { 
        "streetAddress": "21 2nd Street", 
        "city": "New York", 
        "state": "NY", 
        "postalCode": "10021-3100"
    }, 
    "phoneNumbers": [ 
    { 
    "type": "home", 
    "number": "212 555-1234"
    }, 
    {
    "type": "office", 
    "number": "646 555-4567"
    } 
    ], 
    "children": [], 
    "spouse": null
}""")

In [7]:
print(json.dumps(contact, indent=4, sort_keys=True))

{
    "address": {
        "city": "New York",
        "postalCode": "10021-3100",
        "state": "NY",
        "streetAddress": "21 2nd Street"
    },
    "age": 27,
    "children": [],
    "firstName": "John",
    "isAlive": true,
    "lastName": "Smith",
    "phoneNumbers": [
        {
            "number": "212 555-1234",
            "type": "home"
        },
        {
            "number": "646 555-4567",
            "type": "office"
        }
    ],
    "spouse": null
}

In [8]:
#creating a json file 
with open('contact.json', 'w') as f:
    json.dump(contact, f)

In [9]:
#loading the created file
with open('contact.json') as f:
    print(json.load(f))

{'firstName': 'John', 'lastName': 'Smith', 'isAlive': True, 'age': 27, 'address': {'streetAddress': '21 2nd Street', 'city': 'New York', 'state': 'NY', 'postalCode': '10021-3100'}, 'phoneNumbers': [{'type': 'home', 'number': '212 555-1234'}, {'type': 'office', 'number': '646 555-4567'}], 'children': [], 'spouse': None}

In [17]:
#using pandas
df_contact = pd.read_json('contact.json', lines=True)
df_contact

,firstName,lastName,isAlive,age,address,phoneNumbers,children,spouse
0,John,Smith,True,27,"{'streetAddress': '21 2nd Street', 'city': 'Ne...","[{'type': 'home', 'number': '212 555-1234'}, {...",[],NaN

In [15]:
#converting to json
#if u dont specify a file name, it returns a string
#default orient option is columns
df_contact.to_json()

'{"firstName":{"0":"John"},"lastName":{"0":"Smith"},"isAlive":{"0":true},"age":{"0":27},"address":{"0":{"streetAddress":"21 2nd Street","city":"New York","state":"NY","postalCode":"10021-3100"}},"phoneNumbers":{"0":[{"type":"home","number":"212 555-1234"},{"type":"office","number":"646 555-4567"}]},"children":{"0":[]},"spouse":{"0":null}}'

In [18]:
#using ortient option index
df_contact.to_json(orient='index')

'{"0":{"firstName":"John","lastName":"Smith","isAlive":true,"age":27,"address":{"streetAddress":"21 2nd Street","city":"New York","state":"NY","postalCode":"10021-3100"},"phoneNumbers":[{"type":"home","number":"212 555-1234"},{"type":"office","number":"646 555-4567"}],"children":[],"spouse":null}}'

In [19]:
df_contact.to_json(orient='records')

'[{"firstName":"John","lastName":"Smith","isAlive":true,"age":27,"address":{"streetAddress":"21 2nd Street","city":"New York","state":"NY","postalCode":"10021-3100"},"phoneNumbers":[{"type":"home","number":"212 555-1234"},{"type":"office","number":"646 555-4567"}],"children":[],"spouse":null}]'

In [20]:
df_contact.to_json(orient='values')

'[["John","Smith",true,27,{"streetAddress":"21 2nd Street","city":"New York","state":"NY","postalCode":"10021-3100"},[{"type":"home","number":"212 555-1234"},{"type":"office","number":"646 555-4567"}],[],null]]'

In [21]:
df_contact.to_json(orient='records', lines=True)

'{"firstName":"John","lastName":"Smith","isAlive":true,"age":27,"address":{"streetAddress":"21 2nd Street","city":"New York","state":"NY","postalCode":"10021-3100"},"phoneNumbers":[{"type":"home","number":"212 555-1234"},{"type":"office","number":"646 555-4567"}],"children":[],"spouse":null}\n'

pd.json_normalize() #check lecture slides

EXCEL FILES