In [2]:
def foo(bar):
    """Create whatever
    
    Whatever is asfgdgdggfdgfdgfgdfg
    fdsfsdfsdfdsfds
    
    Parameters
    ----------
    bar: str
        dfgdgdgd
    """
    return 'bar'

In [3]:
foo()

TypeError: foo() missing 1 required positional argument: 'bar'

In [ ]:
foo?

In [ ]:
foo??

In [ ]:
import numpy

In [ ]:
numpy.dot?

In [ ]:
numpy.dot??

In [ ]:
def process_datafile():
    """Read csv from input file
    
    Process /mnt/data/dsfsdfsdsfsdf/ffdsfdsfdsf/fdfsdfsf/
    sfsdfsfsdf/sffdsf/sffsd/
    
    Parameters
    ----------
    
    Returns
    -------
    DataFrame or TextParser
        A comma-separated values (csv) file is returned as two-dimensional
        data structure with labeled axes.
    """
    return df.loc['foo']

Restructured text

In [4]:
import pandas as pd

In [5]:
pd.read_csv?

In [6]:
def gen_sample_df(cols, ind): 
    return pd.DataFrame([[s1+str(s2) for s1 in cols] for s2 in ind], 
                        columns=list(cols), index=ind)

In [7]:
df2 = gen_sample_df('ABCD', range(4))
df2

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3

In [8]:
df5 = gen_sample_df('BDF', [2,3,6,7])
df5

    B   D   F
2  B2  D2  F2
3  B3  D3  F3
6  B6  D6  F6
7  B7  D7  F7

In [9]:
df6 = df2.copy()
df6['key1'] = ['K0', 'K0', 'K1', 'K2']
df6['key2'] = ['K0', 'K1', 'K0', 'K1']
df7 = df5.copy()
df7['key1'] = ['K0', 'K1', 'K1', 'K2']
df7['key2'] = ['K0', 'K0', 'K0', 'K0']

In [10]:
df6

    A   B   C   D key1 key2
0  A0  B0  C0  D0   K0   K0
1  A1  B1  C1  D1   K0   K1
2  A2  B2  C2  D2   K1   K0
3  A3  B3  C3  D3   K2   K1

In [11]:
df7

    B   D   F key1 key2
2  B2  D2  F2   K0   K0
3  B3  D3  F3   K1   K0
6  B6  D6  F6   K1   K0
7  B7  D7  F7   K2   K0

In [12]:
df6.pivot('key1', 'key2', 'A')

key2   K0   K1
key1
K0     A0   A1
K1     A2  NaN
K2    NaN   A3

In [13]:
df6.pivot('key1', 'key2')

        A         B         C         D
key2   K0   K1   K0   K1   K0   K1   K0   K1
key1
K0     A0   A1   B0   B1   C0   C1   D0   D1
K1     A2  NaN   B2  NaN   C2  NaN   D2  NaN
K2    NaN   A3  NaN   B3  NaN   C3  NaN   D3

In [14]:
df6.pivot('key1', 'key2')['C']

key2   K0   K1
key1
K0     C0   C1
K1     C2  NaN
K2    NaN   C3

In [15]:
df6.pivot('key1', 'key2')['C']['K0']

key1
K0     C0
K1     C2
K2    NaN
Name: K0, dtype: object

In [16]:
df6.pivot('key1', 'key2')[[('C','K0')]]

        C
key2   K0
key1
K0     C0
K1     C2
K2    NaN

In [5]:
import numpy as np
import pandas as pd
import datetime

In [6]:
df8 = pd.DataFrame({'A': ['one', 'one', 'two', 'three'] * 6,
                    'B': ['A', 'B', 'C'] * 8,
                    'C': ['foo', 'foo', 'foo', 'bar', 'bar', 'bar'] * 4,
                    'D': np.random.randn(24),
                    'E': np.random.randn(24),
                    'F': [datetime.datetime(2013, i, 1) for i in range(1, 13)] +
                          [datetime.datetime(2013, i, 15) for i in range(1, 13)]})

In [19]:
pd.pivot_table(df8, values='D', index='A', columns='C')

C           bar       foo
A
one   -0.201794  0.422892
three -0.152245  0.121050
two   -0.698441 -1.146455

In [20]:
df_foobar = pd.pivot_table(df8, values='D', index='A', columns='C')
df_foobar['foo/bar'] = df_foobar['foo'] / df_foobar['bar']
df_foobar

C           bar       foo   foo/bar
A
one   -0.201794  0.422892 -2.095661
three -0.152245  0.121050 -0.795104
two   -0.698441 -1.146455  1.641449

In [21]:
(pd.pivot_table(df8, values='D', index='A', columns='C')
 .assign(foobar=lambda x: x.foo / x.bar))

C           bar       foo    foobar
A
one   -0.201794  0.422892 -2.095661
three -0.152245  0.121050 -0.795104
two   -0.698441 -1.146455  1.641449

In [22]:
pd.pivot_table(df8, values='D', index='A', 
               columns='C', aggfunc=np.sum)

C           bar       foo
A
one   -1.210763  2.537350
three -0.608978  0.242100
two   -1.396882 -4.585821

In [23]:
pd.pivot_table(df8, values=['D','F'], index=['A','B'], 
               columns=['C','E'])

                D                                                              \
C             bar
E       -1.839315 -1.231373 -0.829916 -0.772667 -0.633726 -0.611277 -0.536155
A     B
one   A       NaN       NaN       NaN       NaN  -0.84666       NaN  0.236154
      B  0.241134       NaN       NaN       NaN       NaN -1.385558       NaN
      C       NaN       NaN       NaN -0.558938       NaN       NaN       NaN
three A       NaN       NaN       NaN       NaN       NaN       NaN       NaN
      B       NaN       NaN       NaN       NaN       NaN       NaN       NaN
      C       NaN  0.918646       NaN       NaN       NaN       NaN       NaN
two   A       NaN       NaN       NaN       NaN       NaN       NaN       NaN
      B       NaN       NaN -1.025541       NaN       NaN       NaN       NaN
      C       NaN       NaN       NaN       NaN       NaN       NaN       NaN

                                       ...                                \
C                                      ...       foo
E       -0.493660  0.672332  0.862405  ... -0.998469 -0.551193 -0.296382
A     B                                ...
one   A       NaN       NaN       NaN  ...       NaN  0.674416       NaN
      B       NaN       NaN       NaN  ...       NaN       NaN       NaN
      C       NaN       NaN       NaN  ...  1.121314       NaN       NaN
three A       NaN -0.854253       NaN  ...       NaN       NaN       NaN
      B       NaN       NaN       NaN  ...       NaN       NaN       NaN
      C       NaN       NaN -0.802163  ...       NaN       NaN       NaN
two   A       NaN       NaN       NaN  ...       NaN       NaN -1.445251
      B -0.371341       NaN       NaN  ...       NaN       NaN       NaN
      C       NaN       NaN       NaN  ...       NaN       NaN       NaN


C
E       -0.046833  0.023239  0.353386  0.926334  1.405475  1.420598  1.514850
A     B
one   A       NaN -1.352781       NaN       NaN       NaN       NaN       NaN
      B       NaN       NaN       NaN       NaN       NaN       NaN  0.352979
      C       NaN       NaN       NaN       NaN       NaN  1.580256       NaN
three A       NaN       NaN       NaN       NaN       NaN       NaN       NaN
      B       NaN       NaN  0.426464 -0.184363       NaN       NaN       NaN
      C       NaN       NaN       NaN       NaN       NaN       NaN       NaN
two   A       NaN       NaN       NaN       NaN       NaN       NaN       NaN
      B       NaN       NaN       NaN       NaN       NaN       NaN       NaN
      C -0.803227       NaN       NaN       NaN -0.985336       NaN       NaN

[9 rows x 24 columns]

In [24]:
pd.pivot_table(df8, values='A', index='B', 
               columns=['C','E'])

DataError: No numeric types to aggregate

In [25]:
df9 = pd.DataFrame({
    'a': ['A', 'A', 'C', 'D'],
    'b': ['A', 'A', 'B', 'C'],
    'c': [1, 2, 3, 4]
})
df9

   a  b  c
0  A  A  1
1  A  A  2
2  C  B  3
3  D  C  4

In [26]:
df9.pivot('a', 'b', 'c')

ValueError: Index contains duplicate entries, cannot reshape

In [27]:
df9.pivot_table('a', 'b', 'c')

DataError: No numeric types to aggregate

In [28]:
df_foobar

C           bar       foo   foo/bar
A
one   -0.201794  0.422892 -2.095661
three -0.152245  0.121050 -0.795104
two   -0.698441 -1.146455  1.641449

In [29]:
df_foobar.reset_index().melt(id_vars=['A'], 
                             var_name='indicator',
                             value_name='my value')

       A indicator  my value
0    one       bar -0.201794
1  three       bar -0.152245
2    two       bar -0.698441
3    one       foo  0.422892
4  three       foo  0.121050
5    two       foo -1.146455
6    one   foo/bar -2.095661
7  three   foo/bar -0.795104
8    two   foo/bar  1.641449