In [49]:
import datetime
import pandas as pd
import numpy as np

In [3]:
datetime.datetime? #datetime(year, month, day[, hour[, minute[, second[, microsecond[,tzinfo]]]]])

In [4]:
datetime.datetime(2021, 6, 1)

datetime.datetime(2021, 6, 1, 0, 0)

In [5]:
datetime.datetime(2021, 6, 1, 13) #timezone-naive, no timezone specified

datetime.datetime(2021, 6, 1, 13, 0)

In [6]:
datetime.datetime(2021, 6, 1, 13, tzinfo = datetime.timezone.utc) #timezone-aware

datetime.datetime(2021, 6, 1, 13, 0, tzinfo=datetime.timezone.utc)

In [11]:
pd.Timestamp(datetime.datetime(2021, 6, 1, 13, tzinfo=datetime.timezone.utc))

Timestamp('2021-06-01 13:00:00+0000', tz='UTC')

In [ ]:
['2021-06-01', '2021-05-02']

In [16]:
pd.Timestamp('2021-06-01 13:00', tz='Asia/Manila')

Timestamp('2021-06-01 13:00:00+0800', tz='Asia/Manila')

In [17]:
pd.Period('2021-06-01')

Period('2021-06-01', 'D')

In [18]:
pd.Period('2021-06-01', freq='W')

Period('2021-05-31/2021-06-06', 'W-SUN')

In [19]:
dates = [
    pd.Timestamp('2021-06-01'), pd.Timestamp('2021-06-02'), 
    pd.Timestamp('2021-06-03')
]

In [20]:
ts = pd.Series([1,2,3], index=dates)

In [21]:
ts

2021-06-01    1
2021-06-02    2
2021-06-03    3
dtype: int64

In [22]:
ts.index

DatetimeIndex(['2021-06-01', '2021-06-02', '2021-06-03'], dtype='datetime64[ns]', freq=None)

In [23]:
periods = [
    pd.Period('2021-06-01', freq='W'), pd.Period('2021-06-02', freq='W'), 
    pd.Period('2021-06-03', freq='W')
]
ps = pd.Series([10,20,30], index=periods)
ps

2021-05-31/2021-06-06    10
2021-05-31/2021-06-06    20
2021-05-31/2021-06-06    30
Freq: W-SUN, dtype: int64

In [25]:
ps.index

PeriodIndex(['2021-05-31/2021-06-06', '2021-05-31/2021-06-06',
             '2021-05-31/2021-06-06'],
            dtype='period[W-SUN]', freq='W-SUN')

In [26]:
periods = [
    pd.Period('2021-06-01', freq='W-MON'), pd.Period('2021-06-02', freq='W-MON'), 
    pd.Period('2021-06-03', freq='W-MON')
]
ps = pd.Series([10,20,30], index=periods)
ps

2021-06-01/2021-06-07    10
2021-06-01/2021-06-07    20
2021-06-01/2021-06-07    30
Freq: W-MON, dtype: int64

In [27]:
pd.date_range('2021-06-01', '2021-6-07')

DatetimeIndex(['2021-06-01', '2021-06-02', '2021-06-03', '2021-06-04',
               '2021-06-05', '2021-06-06', '2021-06-07'],
              dtype='datetime64[ns]', freq='D')

In [28]:
pd.date_range('2021-06-01', '2021-6-07', freq='H')

DatetimeIndex(['2021-06-01 00:00:00', '2021-06-01 01:00:00',
               '2021-06-01 02:00:00', '2021-06-01 03:00:00',
               '2021-06-01 04:00:00', '2021-06-01 05:00:00',
               '2021-06-01 06:00:00', '2021-06-01 07:00:00',
               '2021-06-01 08:00:00', '2021-06-01 09:00:00',
               ...
               '2021-06-06 15:00:00', '2021-06-06 16:00:00',
               '2021-06-06 17:00:00', '2021-06-06 18:00:00',
               '2021-06-06 19:00:00', '2021-06-06 20:00:00',
               '2021-06-06 21:00:00', '2021-06-06 22:00:00',
               '2021-06-06 23:00:00', '2021-06-07 00:00:00'],
              dtype='datetime64[ns]', length=145, freq='H')

In [29]:
pd.date_range('2021-06-01', periods=12, freq='2H')

DatetimeIndex(['2021-06-01 00:00:00', '2021-06-01 02:00:00',
               '2021-06-01 04:00:00', '2021-06-01 06:00:00',
               '2021-06-01 08:00:00', '2021-06-01 10:00:00',
               '2021-06-01 12:00:00', '2021-06-01 14:00:00',
               '2021-06-01 16:00:00', '2021-06-01 18:00:00',
               '2021-06-01 20:00:00', '2021-06-01 22:00:00'],
              dtype='datetime64[ns]', freq='2H')

In [30]:
pd.bdate_range('Jun 1 2021', '30 june 2021') #only counts business days

DatetimeIndex(['2021-06-01', '2021-06-02', '2021-06-03', '2021-06-04',
               '2021-06-07', '2021-06-08', '2021-06-09', '2021-06-10',
               '2021-06-11', '2021-06-14', '2021-06-15', '2021-06-16',
               '2021-06-17', '2021-06-18', '2021-06-21', '2021-06-22',
               '2021-06-23', '2021-06-24', '2021-06-25', '2021-06-28',
               '2021-06-29', '2021-06-30'],
              dtype='datetime64[ns]', freq='B')

In [31]:
pd.period_range('Jan 2021', 'Dec 2021', freq='M')

PeriodIndex(['2021-01', '2021-02', '2021-03', '2021-04', '2021-05', '2021-06',
             '2021-07', '2021-08', '2021-09', '2021-10', '2021-11', '2021-12'],
            dtype='period[M]', freq='M')

In [32]:
pd.to_datetime(['2021-06-01', '2021-06-02', '2021-06-03'])

DatetimeIndex(['2021-06-01', '2021-06-02', '2021-06-03'], dtype='datetime64[ns]', freq=None)

In [33]:
pd.to_datetime(['2021 06 01', '2021 06 02', '2021 06 03'], format ='%Y %m %d')

DatetimeIndex(['2021-06-01', '2021-06-02', '2021-06-03'], dtype='datetime64[ns]', freq=None)

In [ ]:
datetime.datetime.fromtimestamp()

In [34]:
ts.index

DatetimeIndex(['2021-06-01', '2021-06-02', '2021-06-03'], dtype='datetime64[ns]', freq=None)

In [36]:
ts.index.tz_localize('Asia/Manila') #make timezone-naive to timezone-aware

DatetimeIndex(['2021-06-01 00:00:00+08:00', '2021-06-02 00:00:00+08:00',
               '2021-06-03 00:00:00+08:00'],
              dtype='datetime64[ns, Asia/Manila]', freq=None)

In [37]:
ts.index.tz_localize('Asia/Manila').tz_convert('Europe/London') #converting timezones for timezone-aware

DatetimeIndex(['2021-05-31 17:00:00+01:00', '2021-06-01 17:00:00+01:00',
               '2021-06-02 17:00:00+01:00'],
              dtype='datetime64[ns, Europe/London]', freq=None)

In [39]:
ts2 = pd.date_range('2021-06-01','2021-06-07')
ts2 = pd.Series(ts2)
ts2

0   2021-06-01
1   2021-06-02
2   2021-06-03
3   2021-06-04
4   2021-06-05
5   2021-06-06
6   2021-06-07
dtype: datetime64[ns]

In [40]:
ts.asfreq('H')

2021-06-01 00:00:00    1.0
2021-06-01 01:00:00    NaN
2021-06-01 02:00:00    NaN
2021-06-01 03:00:00    NaN
2021-06-01 04:00:00    NaN
2021-06-01 05:00:00    NaN
2021-06-01 06:00:00    NaN
2021-06-01 07:00:00    NaN
2021-06-01 08:00:00    NaN
2021-06-01 09:00:00    NaN
2021-06-01 10:00:00    NaN
2021-06-01 11:00:00    NaN
2021-06-01 12:00:00    NaN
2021-06-01 13:00:00    NaN
2021-06-01 14:00:00    NaN
2021-06-01 15:00:00    NaN
2021-06-01 16:00:00    NaN
2021-06-01 17:00:00    NaN
2021-06-01 18:00:00    NaN
2021-06-01 19:00:00    NaN
2021-06-01 20:00:00    NaN
2021-06-01 21:00:00    NaN
2021-06-01 22:00:00    NaN
2021-06-01 23:00:00    NaN
2021-06-02 00:00:00    2.0
2021-06-02 01:00:00    NaN
2021-06-02 02:00:00    NaN
2021-06-02 03:00:00    NaN
2021-06-02 04:00:00    NaN
2021-06-02 05:00:00    NaN
2021-06-02 06:00:00    NaN
2021-06-02 07:00:00    NaN
2021-06-02 08:00:00    NaN
2021-06-02 09:00:00    NaN
2021-06-02 10:00:00    NaN
2021-06-02 11:00:00    NaN
2021-06-02 12:00:00    NaN
2021-06-02 13:00:00    NaN
2021-06-02 14:00:00    NaN
2021-06-02 15:00:00    NaN
2021-06-02 16:00:00    NaN
2021-06-02 17:00:00    NaN
2021-06-02 18:00:00    NaN
2021-06-02 19:00:00    NaN
2021-06-02 20:00:00    NaN
2021-06-02 21:00:00    NaN
2021-06-02 22:00:00    NaN
2021-06-02 23:00:00    NaN
2021-06-03 00:00:00    3.0
Freq: H, dtype: float64

In [42]:
ts.asfreq('H', method='ffill') #forward-filling missing values, try 'bfill'

2021-06-01 00:00:00    1
2021-06-01 01:00:00    1
2021-06-01 02:00:00    1
2021-06-01 03:00:00    1
2021-06-01 04:00:00    1
2021-06-01 05:00:00    1
2021-06-01 06:00:00    1
2021-06-01 07:00:00    1
2021-06-01 08:00:00    1
2021-06-01 09:00:00    1
2021-06-01 10:00:00    1
2021-06-01 11:00:00    1
2021-06-01 12:00:00    1
2021-06-01 13:00:00    1
2021-06-01 14:00:00    1
2021-06-01 15:00:00    1
2021-06-01 16:00:00    1
2021-06-01 17:00:00    1
2021-06-01 18:00:00    1
2021-06-01 19:00:00    1
2021-06-01 20:00:00    1
2021-06-01 21:00:00    1
2021-06-01 22:00:00    1
2021-06-01 23:00:00    1
2021-06-02 00:00:00    2
2021-06-02 01:00:00    2
2021-06-02 02:00:00    2
2021-06-02 03:00:00    2
2021-06-02 04:00:00    2
2021-06-02 05:00:00    2
2021-06-02 06:00:00    2
2021-06-02 07:00:00    2
2021-06-02 08:00:00    2
2021-06-02 09:00:00    2
2021-06-02 10:00:00    2
2021-06-02 11:00:00    2
2021-06-02 12:00:00    2
2021-06-02 13:00:00    2
2021-06-02 14:00:00    2
2021-06-02 15:00:00    2
2021-06-02 16:00:00    2
2021-06-02 17:00:00    2
2021-06-02 18:00:00    2
2021-06-02 19:00:00    2
2021-06-02 20:00:00    2
2021-06-02 21:00:00    2
2021-06-02 22:00:00    2
2021-06-02 23:00:00    2
2021-06-03 00:00:00    3
Freq: H, dtype: int64

In [44]:
ts2 = ts.asfreq('H', method='ffill')

In [46]:
ts2.resample('6H').mean()

2021-06-01 00:00:00    1
2021-06-01 06:00:00    1
2021-06-01 12:00:00    1
2021-06-01 18:00:00    1
2021-06-02 00:00:00    2
2021-06-02 06:00:00    2
2021-06-02 12:00:00    2
2021-06-02 18:00:00    2
2021-06-03 00:00:00    3
Freq: 6H, dtype: int64

In [51]:
df = pd.DataFrame({
    'a':pd.date_range('2021-06-01', '2021-06-07', freq='H'),
    'b':np.arange(145)
})
df

                      a    b
0   2021-06-01 00:00:00    0
1   2021-06-01 01:00:00    1
2   2021-06-01 02:00:00    2
3   2021-06-01 03:00:00    3
4   2021-06-01 04:00:00    4
..                  ...  ...
140 2021-06-06 20:00:00  140
141 2021-06-06 21:00:00  141
142 2021-06-06 22:00:00  142
143 2021-06-06 23:00:00  143
144 2021-06-07 00:00:00  144

[145 rows x 2 columns]

In [53]:
df.groupby(pd.Grouper(key='a', freq='6H'))['b'].mean()

a
2021-06-01 00:00:00      2.5
2021-06-01 06:00:00      8.5
2021-06-01 12:00:00     14.5
2021-06-01 18:00:00     20.5
2021-06-02 00:00:00     26.5
2021-06-02 06:00:00     32.5
2021-06-02 12:00:00     38.5
2021-06-02 18:00:00     44.5
2021-06-03 00:00:00     50.5
2021-06-03 06:00:00     56.5
2021-06-03 12:00:00     62.5
2021-06-03 18:00:00     68.5
2021-06-04 00:00:00     74.5
2021-06-04 06:00:00     80.5
2021-06-04 12:00:00     86.5
2021-06-04 18:00:00     92.5
2021-06-05 00:00:00     98.5
2021-06-05 06:00:00    104.5
2021-06-05 12:00:00    110.5
2021-06-05 18:00:00    116.5
2021-06-06 00:00:00    122.5
2021-06-06 06:00:00    128.5
2021-06-06 12:00:00    134.5
2021-06-06 18:00:00    140.5
2021-06-07 00:00:00    144.0
Freq: 6H, Name: b, dtype: float64

In [56]:
df2 = df[(df['a'].dt.hour >= 9) & (df['a'].dt.hour<17)]
df2.groupby(df2['a'].dt.date).mean()

                b
a
2021-06-01   12.5
2021-06-02   36.5
2021-06-03   60.5
2021-06-04   84.5
2021-06-05  108.5
2021-06-06  132.5

In [57]:
df3 = df.copy()
df3

                      a    b
0   2021-06-01 00:00:00    0
1   2021-06-01 01:00:00    1
2   2021-06-01 02:00:00    2
3   2021-06-01 03:00:00    3
4   2021-06-01 04:00:00    4
..                  ...  ...
140 2021-06-06 20:00:00  140
141 2021-06-06 21:00:00  141
142 2021-06-06 22:00:00  142
143 2021-06-06 23:00:00  143
144 2021-06-07 00:00:00  144

[145 rows x 2 columns]

In [ ]:
df3['a'] = df3['a'].