In [1]:
import datetime
import numpy as np
import pandas as pd

In [43]:
datetime.datetime(2021, 6, 1)

datetime.datetime(2021, 6, 1, 0, 0)

In [44]:
datetime.datetime(2021, 6, 1, 13) # timezone-naive

datetime.datetime(2021, 6, 1, 13, 0)

In [45]:
datetime.datetime(2021, 6, 1, 13, tzinfo=datetime.timezone.utc) # timezone-aware

datetime.datetime(2021, 6, 1, 13, 0, tzinfo=datetime.timezone.utc)

In [46]:
pd.Timestamp(datetime.datetime(2021, 6, 1, 13))

Timestamp('2021-06-01 13:00:00')

In [47]:
pd.Timestamp(datetime.datetime(2021, 6, 1, 13, tzinfo=datetime.timezone.utc))

Timestamp('2021-06-01 13:00:00+0000', tz='UTC')

In [48]:
['2021-06-01', '2021-05-02']

['2021-06-01', '2021-05-02']

In [49]:
['06-01-2021', '05-02-2021']

['06-01-2021', '05-02-2021']

In [50]:
['01-06-2021', '02-05-2021']

['01-06-2021', '02-05-2021']

In [51]:
pd.Timestamp('2021-06-01')

Timestamp('2021-06-01 00:00:00')

In [52]:
pd.Timestamp('2021-06-01 13:00')

Timestamp('2021-06-01 13:00:00')

In [53]:
pd.Timestamp('2021-06-01 13:00 UTC')

Timestamp('2021-06-01 13:00:00+0000', tz='tzutc()')

In [54]:
pd.Timestamp('2021-06-01 13:00 UTC+08:00')

Timestamp('2021-06-01 13:00:00-0800', tz='tzoffset(None, -28800)')

In [55]:
pd.Timestamp('06-01-2021 13:00 UTC', tz='Asia/Manila')

Timestamp('2021-06-01 21:00:00+0800', tz='Asia/Manila')

In [56]:
pd.Period('2021-06-01')

Period('2021-06-01', 'D')

In [57]:
pd.Period('2021-06-01', freq='W')

Period('2021-05-31/2021-06-06', 'W-SUN')

In [4]:
dates = [
    pd.Timestamp('2021-06-01'), 
    pd.Timestamp('2021-06-02'), 
    pd.Timestamp('2021-06-03')
]

In [5]:
ts = pd.Series([1, 2, 3], index=dates)

In [60]:
ts

2021-06-01    1
2021-06-02    2
2021-06-03    3
dtype: int64

In [61]:
ts.index

DatetimeIndex(['2021-06-01', '2021-06-02', '2021-06-03'], dtype='datetime64[ns]', freq=None)

In [62]:
periods = [
    pd.Period('2021-06-01', freq='W'), 
    pd.Period('2021-06-02', freq='W'), 
    pd.Period('2021-06-03', freq='W')
]
ps = pd.Series([10, 20, 30], index=periods)

In [63]:
ps

2021-05-31/2021-06-06    10
2021-05-31/2021-06-06    20
2021-05-31/2021-06-06    30
Freq: W-SUN, dtype: int64

In [64]:
ps.index

PeriodIndex(['2021-05-31/2021-06-06', '2021-05-31/2021-06-06',
             '2021-05-31/2021-06-06'],
            dtype='period[W-SUN]', freq='W-SUN')

In [65]:
periods = [
    pd.Period('2021-06-01', freq='W-MON'), 
    pd.Period('2021-06-02', freq='W-MON'), 
    pd.Period('2021-06-03', freq='W-MON')
]
ps = pd.Series([10, 20, 30], index=periods)

In [66]:
ps

2021-06-01/2021-06-07    10
2021-06-01/2021-06-07    20
2021-06-01/2021-06-07    30
Freq: W-MON, dtype: int64

In [67]:
periods = [
    pd.Period('2021-06-01', freq='W-WED'), 
    pd.Period('2021-06-02', freq='W-WED'), 
    pd.Period('2021-06-03', freq='W-WED')
]
ps = pd.Series([10, 20, 30], index=periods)

In [68]:
ps

2021-05-27/2021-06-02    10
2021-05-27/2021-06-02    20
2021-06-03/2021-06-09    30
Freq: W-WED, dtype: int64

In [69]:
pd.date_range('2021-06-01', '2021-6-07')

DatetimeIndex(['2021-06-01', '2021-06-02', '2021-06-03', '2021-06-04',
               '2021-06-05', '2021-06-06', '2021-06-07'],
              dtype='datetime64[ns]', freq='D')

In [70]:
pd.date_range('2021-06-01', '2021-6-07', freq='H')

DatetimeIndex(['2021-06-01 00:00:00', '2021-06-01 01:00:00',
               '2021-06-01 02:00:00', '2021-06-01 03:00:00',
               '2021-06-01 04:00:00', '2021-06-01 05:00:00',
               '2021-06-01 06:00:00', '2021-06-01 07:00:00',
               '2021-06-01 08:00:00', '2021-06-01 09:00:00',
               ...
               '2021-06-06 15:00:00', '2021-06-06 16:00:00',
               '2021-06-06 17:00:00', '2021-06-06 18:00:00',
               '2021-06-06 19:00:00', '2021-06-06 20:00:00',
               '2021-06-06 21:00:00', '2021-06-06 22:00:00',
               '2021-06-06 23:00:00', '2021-06-07 00:00:00'],
              dtype='datetime64[ns]', length=145, freq='H')

In [71]:
pd.date_range('2021-06-01', periods=12, freq='2H')

DatetimeIndex(['2021-06-01 00:00:00', '2021-06-01 02:00:00',
               '2021-06-01 04:00:00', '2021-06-01 06:00:00',
               '2021-06-01 08:00:00', '2021-06-01 10:00:00',
               '2021-06-01 12:00:00', '2021-06-01 14:00:00',
               '2021-06-01 16:00:00', '2021-06-01 18:00:00',
               '2021-06-01 20:00:00', '2021-06-01 22:00:00'],
              dtype='datetime64[ns]', freq='2H')

In [72]:
pd.date_range('June 1, 2021', '7 June 2021')

DatetimeIndex(['2021-06-01', '2021-06-02', '2021-06-03', '2021-06-04',
               '2021-06-05', '2021-06-06', '2021-06-07'],
              dtype='datetime64[ns]', freq='D')

In [73]:
pd.date_range('Jun 1, 2021', '7 June 2021')

DatetimeIndex(['2021-06-01', '2021-06-02', '2021-06-03', '2021-06-04',
               '2021-06-05', '2021-06-06', '2021-06-07'],
              dtype='datetime64[ns]', freq='D')

In [74]:
pd.bdate_range('Jun 1, 2021', '30 June 2021')

DatetimeIndex(['2021-06-01', '2021-06-02', '2021-06-03', '2021-06-04',
               '2021-06-07', '2021-06-08', '2021-06-09', '2021-06-10',
               '2021-06-11', '2021-06-14', '2021-06-15', '2021-06-16',
               '2021-06-17', '2021-06-18', '2021-06-21', '2021-06-22',
               '2021-06-23', '2021-06-24', '2021-06-25', '2021-06-28',
               '2021-06-29', '2021-06-30'],
              dtype='datetime64[ns]', freq='B')

In [75]:
pd.period_range('Jan 2021', 'Dec 2021', freq='M')

PeriodIndex(['2021-01', '2021-02', '2021-03', '2021-04', '2021-05', '2021-06',
             '2021-07', '2021-08', '2021-09', '2021-10', '2021-11', '2021-12'],
            dtype='period[M]', freq='M')

In [76]:
pd.period_range('June 30, 2021', 'June 30, 2022', freq='M')

PeriodIndex(['2021-06', '2021-07', '2021-08', '2021-09', '2021-10', '2021-11',
             '2021-12', '2022-01', '2022-02', '2022-03', '2022-04', '2022-05',
             '2022-06'],
            dtype='period[M]', freq='M')

In [77]:
pd.date_range('June 30, 2021', 'June 30, 2022', freq='M')

DatetimeIndex(['2021-06-30', '2021-07-31', '2021-08-31', '2021-09-30',
               '2021-10-31', '2021-11-30', '2021-12-31', '2022-01-31',
               '2022-02-28', '2022-03-31', '2022-04-30', '2022-05-31',
               '2022-06-30'],
              dtype='datetime64[ns]', freq='M')

In [78]:
pd.date_range('29 Feb 2020', '29 Feb 2028', freq='M')

DatetimeIndex(['2020-02-29', '2020-03-31', '2020-04-30', '2020-05-31',
               '2020-06-30', '2020-07-31', '2020-08-31', '2020-09-30',
               '2020-10-31', '2020-11-30', '2020-12-31', '2021-01-31',
               '2021-02-28', '2021-03-31', '2021-04-30', '2021-05-31',
               '2021-06-30', '2021-07-31', '2021-08-31', '2021-09-30',
               '2021-10-31', '2021-11-30', '2021-12-31', '2022-01-31',
               '2022-02-28', '2022-03-31', '2022-04-30', '2022-05-31',
               '2022-06-30', '2022-07-31', '2022-08-31', '2022-09-30',
               '2022-10-31', '2022-11-30', '2022-12-31', '2023-01-31',
               '2023-02-28', '2023-03-31', '2023-04-30', '2023-05-31',
               '2023-06-30', '2023-07-31', '2023-08-31', '2023-09-30',
               '2023-10-31', '2023-11-30', '2023-12-31', '2024-01-31',
               '2024-02-29', '2024-03-31', '2024-04-30', '2024-05-31',
               '2024-06-30', '2024-07-31', '2024-08-31', '2024-09-30',
               '2024-10-31', '2024-11-30', '2024-12-31', '2025-01-31',
               '2025-02-28', '2025-03-31', '2025-04-30', '2025-05-31',
               '2025-06-30', '2025-07-31', '2025-08-31', '2025-09-30',
               '2025-10-31', '2025-11-30', '2025-12-31', '2026-01-31',
               '2026-02-28', '2026-03-31', '2026-04-30', '2026-05-31',
               '2026-06-30', '2026-07-31', '2026-08-31', '2026-09-30',
               '2026-10-31', '2026-11-30', '2026-12-31', '2027-01-31',
               '2027-02-28', '2027-03-31', '2027-04-30', '2027-05-31',
               '2027-06-30', '2027-07-31', '2027-08-31', '2027-09-30',
               '2027-10-31', '2027-11-30', '2027-12-31', '2028-01-31',
               '2028-02-29'],
              dtype='datetime64[ns]', freq='M')

In [79]:
pd.to_datetime('2021-06-01')

Timestamp('2021-06-01 00:00:00')

In [80]:
pd.to_datetime(['2021-06-01', '2021-06-02', '2021-06-03'])

DatetimeIndex(['2021-06-01', '2021-06-02', '2021-06-03'], dtype='datetime64[ns]', freq=None)

In [81]:
pd.to_datetime(['2021 06 01', '2021 06 02', '2021 06 03'], format='%Y %m %d')

DatetimeIndex(['2021-06-01', '2021-06-02', '2021-06-03'], dtype='datetime64[ns]', freq=None)

In [41]:
datetime.datetime.fromtimestamp()

TypeError: fromtimestamp() missing required argument 'timestamp' (pos 1)

In [82]:
ts.index

DatetimeIndex(['2021-06-01', '2021-06-02', '2021-06-03'], dtype='datetime64[ns]', freq=None)

In [83]:
ts.index.tz_localize('Asia/Manila')

DatetimeIndex(['2021-06-01 00:00:00+08:00', '2021-06-02 00:00:00+08:00',
               '2021-06-03 00:00:00+08:00'],
              dtype='datetime64[ns, Asia/Manila]', freq=None)

In [84]:
ts.index.tz_localize('Asia/Manila').tz_convert('Europe/London')

DatetimeIndex(['2021-05-31 17:00:00+01:00', '2021-06-01 17:00:00+01:00',
               '2021-06-02 17:00:00+01:00'],
              dtype='datetime64[ns, Europe/London]', freq=None)

In [85]:
ts2 = pd.date_range('2021-06-01', '2021-06-07')

In [86]:
ts2

DatetimeIndex(['2021-06-01', '2021-06-02', '2021-06-03', '2021-06-04',
               '2021-06-05', '2021-06-06', '2021-06-07'],
              dtype='datetime64[ns]', freq='D')

In [87]:
ts

2021-06-01    1
2021-06-02    2
2021-06-03    3
dtype: int64

In [88]:
ts.asfreq('H')

2021-06-01 00:00:00    1.0
2021-06-01 01:00:00    NaN
2021-06-01 02:00:00    NaN
2021-06-01 03:00:00    NaN
2021-06-01 04:00:00    NaN
2021-06-01 05:00:00    NaN
2021-06-01 06:00:00    NaN
2021-06-01 07:00:00    NaN
2021-06-01 08:00:00    NaN
2021-06-01 09:00:00    NaN
2021-06-01 10:00:00    NaN
2021-06-01 11:00:00    NaN
2021-06-01 12:00:00    NaN
2021-06-01 13:00:00    NaN
2021-06-01 14:00:00    NaN
2021-06-01 15:00:00    NaN
2021-06-01 16:00:00    NaN
2021-06-01 17:00:00    NaN
2021-06-01 18:00:00    NaN
2021-06-01 19:00:00    NaN
2021-06-01 20:00:00    NaN
2021-06-01 21:00:00    NaN
2021-06-01 22:00:00    NaN
2021-06-01 23:00:00    NaN
2021-06-02 00:00:00    2.0
2021-06-02 01:00:00    NaN
2021-06-02 02:00:00    NaN
2021-06-02 03:00:00    NaN
2021-06-02 04:00:00    NaN
2021-06-02 05:00:00    NaN
2021-06-02 06:00:00    NaN
2021-06-02 07:00:00    NaN
2021-06-02 08:00:00    NaN
2021-06-02 09:00:00    NaN
2021-06-02 10:00:00    NaN
2021-06-02 11:00:00    NaN
2021-06-02 12:00:00    NaN
2021-06-02 13:00:00    NaN
2021-06-02 14:00:00    NaN
2021-06-02 15:00:00    NaN
2021-06-02 16:00:00    NaN
2021-06-02 17:00:00    NaN
2021-06-02 18:00:00    NaN
2021-06-02 19:00:00    NaN
2021-06-02 20:00:00    NaN
2021-06-02 21:00:00    NaN
2021-06-02 22:00:00    NaN
2021-06-02 23:00:00    NaN
2021-06-03 00:00:00    3.0
Freq: H, dtype: float64

In [89]:
ts.asfreq('H', method='ffill')

2021-06-01 00:00:00    1
2021-06-01 01:00:00    1
2021-06-01 02:00:00    1
2021-06-01 03:00:00    1
2021-06-01 04:00:00    1
2021-06-01 05:00:00    1
2021-06-01 06:00:00    1
2021-06-01 07:00:00    1
2021-06-01 08:00:00    1
2021-06-01 09:00:00    1
2021-06-01 10:00:00    1
2021-06-01 11:00:00    1
2021-06-01 12:00:00    1
2021-06-01 13:00:00    1
2021-06-01 14:00:00    1
2021-06-01 15:00:00    1
2021-06-01 16:00:00    1
2021-06-01 17:00:00    1
2021-06-01 18:00:00    1
2021-06-01 19:00:00    1
2021-06-01 20:00:00    1
2021-06-01 21:00:00    1
2021-06-01 22:00:00    1
2021-06-01 23:00:00    1
2021-06-02 00:00:00    2
2021-06-02 01:00:00    2
2021-06-02 02:00:00    2
2021-06-02 03:00:00    2
2021-06-02 04:00:00    2
2021-06-02 05:00:00    2
2021-06-02 06:00:00    2
2021-06-02 07:00:00    2
2021-06-02 08:00:00    2
2021-06-02 09:00:00    2
2021-06-02 10:00:00    2
2021-06-02 11:00:00    2
2021-06-02 12:00:00    2
2021-06-02 13:00:00    2
2021-06-02 14:00:00    2
2021-06-02 15:00:00    2
2021-06-02 16:00:00    2
2021-06-02 17:00:00    2
2021-06-02 18:00:00    2
2021-06-02 19:00:00    2
2021-06-02 20:00:00    2
2021-06-02 21:00:00    2
2021-06-02 22:00:00    2
2021-06-02 23:00:00    2
2021-06-03 00:00:00    3
Freq: H, dtype: int64

In [90]:
ts.asfreq('H', method='bfill')

2021-06-01 00:00:00    1
2021-06-01 01:00:00    2
2021-06-01 02:00:00    2
2021-06-01 03:00:00    2
2021-06-01 04:00:00    2
2021-06-01 05:00:00    2
2021-06-01 06:00:00    2
2021-06-01 07:00:00    2
2021-06-01 08:00:00    2
2021-06-01 09:00:00    2
2021-06-01 10:00:00    2
2021-06-01 11:00:00    2
2021-06-01 12:00:00    2
2021-06-01 13:00:00    2
2021-06-01 14:00:00    2
2021-06-01 15:00:00    2
2021-06-01 16:00:00    2
2021-06-01 17:00:00    2
2021-06-01 18:00:00    2
2021-06-01 19:00:00    2
2021-06-01 20:00:00    2
2021-06-01 21:00:00    2
2021-06-01 22:00:00    2
2021-06-01 23:00:00    2
2021-06-02 00:00:00    2
2021-06-02 01:00:00    3
2021-06-02 02:00:00    3
2021-06-02 03:00:00    3
2021-06-02 04:00:00    3
2021-06-02 05:00:00    3
2021-06-02 06:00:00    3
2021-06-02 07:00:00    3
2021-06-02 08:00:00    3
2021-06-02 09:00:00    3
2021-06-02 10:00:00    3
2021-06-02 11:00:00    3
2021-06-02 12:00:00    3
2021-06-02 13:00:00    3
2021-06-02 14:00:00    3
2021-06-02 15:00:00    3
2021-06-02 16:00:00    3
2021-06-02 17:00:00    3
2021-06-02 18:00:00    3
2021-06-02 19:00:00    3
2021-06-02 20:00:00    3
2021-06-02 21:00:00    3
2021-06-02 22:00:00    3
2021-06-02 23:00:00    3
2021-06-03 00:00:00    3
Freq: H, dtype: int64

In [91]:
ts2 = ts.asfreq('H', method='ffill')

In [92]:
ts2

2021-06-01 00:00:00    1
2021-06-01 01:00:00    1
2021-06-01 02:00:00    1
2021-06-01 03:00:00    1
2021-06-01 04:00:00    1
2021-06-01 05:00:00    1
2021-06-01 06:00:00    1
2021-06-01 07:00:00    1
2021-06-01 08:00:00    1
2021-06-01 09:00:00    1
2021-06-01 10:00:00    1
2021-06-01 11:00:00    1
2021-06-01 12:00:00    1
2021-06-01 13:00:00    1
2021-06-01 14:00:00    1
2021-06-01 15:00:00    1
2021-06-01 16:00:00    1
2021-06-01 17:00:00    1
2021-06-01 18:00:00    1
2021-06-01 19:00:00    1
2021-06-01 20:00:00    1
2021-06-01 21:00:00    1
2021-06-01 22:00:00    1
2021-06-01 23:00:00    1
2021-06-02 00:00:00    2
2021-06-02 01:00:00    2
2021-06-02 02:00:00    2
2021-06-02 03:00:00    2
2021-06-02 04:00:00    2
2021-06-02 05:00:00    2
2021-06-02 06:00:00    2
2021-06-02 07:00:00    2
2021-06-02 08:00:00    2
2021-06-02 09:00:00    2
2021-06-02 10:00:00    2
2021-06-02 11:00:00    2
2021-06-02 12:00:00    2
2021-06-02 13:00:00    2
2021-06-02 14:00:00    2
2021-06-02 15:00:00    2
2021-06-02 16:00:00    2
2021-06-02 17:00:00    2
2021-06-02 18:00:00    2
2021-06-02 19:00:00    2
2021-06-02 20:00:00    2
2021-06-02 21:00:00    2
2021-06-02 22:00:00    2
2021-06-02 23:00:00    2
2021-06-03 00:00:00    3
Freq: H, dtype: int64

In [93]:
ts2.resample('6H').mean()

2021-06-01 00:00:00    1
2021-06-01 06:00:00    1
2021-06-01 12:00:00    1
2021-06-01 18:00:00    1
2021-06-02 00:00:00    2
2021-06-02 06:00:00    2
2021-06-02 12:00:00    2
2021-06-02 18:00:00    2
2021-06-03 00:00:00    3
Freq: 6H, dtype: int64

In [94]:
ts2.resample('H').min()

2021-06-01 00:00:00    1
2021-06-01 01:00:00    1
2021-06-01 02:00:00    1
2021-06-01 03:00:00    1
2021-06-01 04:00:00    1
2021-06-01 05:00:00    1
2021-06-01 06:00:00    1
2021-06-01 07:00:00    1
2021-06-01 08:00:00    1
2021-06-01 09:00:00    1
2021-06-01 10:00:00    1
2021-06-01 11:00:00    1
2021-06-01 12:00:00    1
2021-06-01 13:00:00    1
2021-06-01 14:00:00    1
2021-06-01 15:00:00    1
2021-06-01 16:00:00    1
2021-06-01 17:00:00    1
2021-06-01 18:00:00    1
2021-06-01 19:00:00    1
2021-06-01 20:00:00    1
2021-06-01 21:00:00    1
2021-06-01 22:00:00    1
2021-06-01 23:00:00    1
2021-06-02 00:00:00    2
2021-06-02 01:00:00    2
2021-06-02 02:00:00    2
2021-06-02 03:00:00    2
2021-06-02 04:00:00    2
2021-06-02 05:00:00    2
2021-06-02 06:00:00    2
2021-06-02 07:00:00    2
2021-06-02 08:00:00    2
2021-06-02 09:00:00    2
2021-06-02 10:00:00    2
2021-06-02 11:00:00    2
2021-06-02 12:00:00    2
2021-06-02 13:00:00    2
2021-06-02 14:00:00    2
2021-06-02 15:00:00    2
2021-06-02 16:00:00    2
2021-06-02 17:00:00    2
2021-06-02 18:00:00    2
2021-06-02 19:00:00    2
2021-06-02 20:00:00    2
2021-06-02 21:00:00    2
2021-06-02 22:00:00    2
2021-06-02 23:00:00    2
2021-06-03 00:00:00    3
Freq: H, dtype: int64

In [95]:
df = pd.DataFrame({
    'a': pd.date_range('2021-06-01', '2021-06-07', freq='H'),
    'b': np.arange(145)
})

In [96]:
df

                      a    b
0   2021-06-01 00:00:00    0
1   2021-06-01 01:00:00    1
2   2021-06-01 02:00:00    2
3   2021-06-01 03:00:00    3
4   2021-06-01 04:00:00    4
..                  ...  ...
140 2021-06-06 20:00:00  140
141 2021-06-06 21:00:00  141
142 2021-06-06 22:00:00  142
143 2021-06-06 23:00:00  143
144 2021-06-07 00:00:00  144

[145 rows x 2 columns]

In [97]:
df.groupby(pd.Grouper(key='a', freq='6H')).mean()

                         b
a
2021-06-01 00:00:00    2.5
2021-06-01 06:00:00    8.5
2021-06-01 12:00:00   14.5
2021-06-01 18:00:00   20.5
2021-06-02 00:00:00   26.5
2021-06-02 06:00:00   32.5
2021-06-02 12:00:00   38.5
2021-06-02 18:00:00   44.5
2021-06-03 00:00:00   50.5
2021-06-03 06:00:00   56.5
2021-06-03 12:00:00   62.5
2021-06-03 18:00:00   68.5
2021-06-04 00:00:00   74.5
2021-06-04 06:00:00   80.5
2021-06-04 12:00:00   86.5
2021-06-04 18:00:00   92.5
2021-06-05 00:00:00   98.5
2021-06-05 06:00:00  104.5
2021-06-05 12:00:00  110.5
2021-06-05 18:00:00  116.5
2021-06-06 00:00:00  122.5
2021-06-06 06:00:00  128.5
2021-06-06 12:00:00  134.5
2021-06-06 18:00:00  140.5
2021-06-07 00:00:00  144.0

In [98]:
df.groupby(pd.Grouper(key='a', freq='6H'))['b'].mean()

a
2021-06-01 00:00:00      2.5
2021-06-01 06:00:00      8.5
2021-06-01 12:00:00     14.5
2021-06-01 18:00:00     20.5
2021-06-02 00:00:00     26.5
2021-06-02 06:00:00     32.5
2021-06-02 12:00:00     38.5
2021-06-02 18:00:00     44.5
2021-06-03 00:00:00     50.5
2021-06-03 06:00:00     56.5
2021-06-03 12:00:00     62.5
2021-06-03 18:00:00     68.5
2021-06-04 00:00:00     74.5
2021-06-04 06:00:00     80.5
2021-06-04 12:00:00     86.5
2021-06-04 18:00:00     92.5
2021-06-05 00:00:00     98.5
2021-06-05 06:00:00    104.5
2021-06-05 12:00:00    110.5
2021-06-05 18:00:00    116.5
2021-06-06 00:00:00    122.5
2021-06-06 06:00:00    128.5
2021-06-06 12:00:00    134.5
2021-06-06 18:00:00    140.5
2021-06-07 00:00:00    144.0
Freq: 6H, Name: b, dtype: float64

In [99]:
df2 = df[(df['a'].dt.hour >= 9) & (df['a'].dt.hour < 17)]
df2.groupby(df2['a'].dt.date).mean()

                b
a
2021-06-01   12.5
2021-06-02   36.5
2021-06-03   60.5
2021-06-04   84.5
2021-06-05  108.5
2021-06-06  132.5

In [100]:
df3 = df.copy()

In [101]:
df3

                      a    b
0   2021-06-01 00:00:00    0
1   2021-06-01 01:00:00    1
2   2021-06-01 02:00:00    2
3   2021-06-01 03:00:00    3
4   2021-06-01 04:00:00    4
..                  ...  ...
140 2021-06-06 20:00:00  140
141 2021-06-06 21:00:00  141
142 2021-06-06 22:00:00  142
143 2021-06-06 23:00:00  143
144 2021-06-07 00:00:00  144

[145 rows x 2 columns]

In [102]:
(df2.groupby((df['a'] - df['a'].min().replace(hour=0)).dt.total_seconds() // 
             (3600 * 6)).mean())

        b
a
1.0    10
2.0    14
5.0    34
6.0    38
9.0    58
10.0   62
13.0   82
14.0   86
17.0  106
18.0  110
21.0  130
22.0  134

In [103]:
def gen_sample_df(cols, ind): 
    return pd.DataFrame([[s1+str(s2) for s1 in cols] for s2 in ind], 
                        columns=list(cols), index=ind)

In [104]:
df2 = gen_sample_df('ABCD', range(4))
df2

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3

In [105]:
df3 = gen_sample_df('ABCD', range(4,8))
df3

    A   B   C   D
4  A4  B4  C4  D4
5  A5  B5  C5  D5
6  A6  B6  C6  D6
7  A7  B7  C7  D7

In [106]:
df4 = gen_sample_df('ABCD', range(8,12))
df4

      A    B    C    D
8    A8   B8   C8   D8
9    A9   B9   C9   D9
10  A10  B10  C10  D10
11  A11  B11  C11  D11

In [107]:
df5 = gen_sample_df('BDF', [2,3,6,7])
df5

    B   D   F
2  B2  D2  F2
3  B3  D3  F3
6  B6  D6  F6
7  B7  D7  F7

In [108]:
pd.concat([df2, df3, df4])

      A    B    C    D
0    A0   B0   C0   D0
1    A1   B1   C1   D1
2    A2   B2   C2   D2
3    A3   B3   C3   D3
4    A4   B4   C4   D4
5    A5   B5   C5   D5
6    A6   B6   C6   D6
7    A7   B7   C7   D7
8    A8   B8   C8   D8
9    A9   B9   C9   D9
10  A10  B10  C10  D10
11  A11  B11  C11  D11

In [109]:
df2.append(df3)

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3
4  A4  B4  C4  D4
5  A5  B5  C5  D5
6  A6  B6  C6  D6
7  A7  B7  C7  D7

In [110]:
df2.append([df3, df4])

      A    B    C    D
0    A0   B0   C0   D0
1    A1   B1   C1   D1
2    A2   B2   C2   D2
3    A3   B3   C3   D3
4    A4   B4   C4   D4
5    A5   B5   C5   D5
6    A6   B6   C6   D6
7    A7   B7   C7   D7
8    A8   B8   C8   D8
9    A9   B9   C9   D9
10  A10  B10  C10  D10
11  A11  B11  C11  D11

In [111]:
pd.concat([df2, df5])

     A   B    C   D    F
0   A0  B0   C0  D0  NaN
1   A1  B1   C1  D1  NaN
2   A2  B2   C2  D2  NaN
3   A3  B3   C3  D3  NaN
2  NaN  B2  NaN  D2   F2
3  NaN  B3  NaN  D3   F3
6  NaN  B6  NaN  D6   F6
7  NaN  B7  NaN  D7   F7

In [112]:
pd.concat([df5, df2])

    B   D    F    A    C
2  B2  D2   F2  NaN  NaN
3  B3  D3   F3  NaN  NaN
6  B6  D6   F6  NaN  NaN
7  B7  D7   F7  NaN  NaN
0  B0  D0  NaN   A0   C0
1  B1  D1  NaN   A1   C1
2  B2  D2  NaN   A2   C2
3  B3  D3  NaN   A3   C3

In [113]:
pd.concat([df5, df2])['B']

2    B2
3    B3
6    B6
7    B7
0    B0
1    B1
2    B2
3    B3
Name: B, dtype: object

In [114]:
pd.concat([df5, df2])['B'][2]

2    B2
2    B2
Name: B, dtype: object

In [115]:
pd.concat([df2, df5], ignore_index=True)

     A   B    C   D    F
0   A0  B0   C0  D0  NaN
1   A1  B1   C1  D1  NaN
2   A2  B2   C2  D2  NaN
3   A3  B3   C3  D3  NaN
4  NaN  B2  NaN  D2   F2
5  NaN  B3  NaN  D3   F3
6  NaN  B6  NaN  D6   F6
7  NaN  B7  NaN  D7   F7

In [116]:
pd.concat([df2, df5], axis=1)

     A    B    C    D    B    D    F
0   A0   B0   C0   D0  NaN  NaN  NaN
1   A1   B1   C1   D1  NaN  NaN  NaN
2   A2   B2   C2   D2   B2   D2   F2
3   A3   B3   C3   D3   B3   D3   F3
6  NaN  NaN  NaN  NaN   B6   D6   F6
7  NaN  NaN  NaN  NaN   B7   D7   F7

In [117]:
df6 = df2.copy()
df6['key1'] = ['K0', 'K0', 'K1', 'K2']
df6['key2'] = ['K0', 'K1', 'K0', 'K1']
df7 = df5.copy()
df7['key1'] = ['K0', 'K1', 'K1', 'K2']
df7['key2'] = ['K0', 'K0', 'K0', 'K0']

In [118]:
pd.merge(df6, df7, left_on='key1', right_on='key1',
        suffixes=[' (left)', ' (right)'])

,A,B (left),C,D (left),key1,key2 (left),B (right),D (right),F,key2 (right)
0,A0,B0,C0,D0,K0,K0,B2,D2,F2,K0
1,A1,B1,C1,D1,K0,K1,B2,D2,F2,K0
2,A2,B2,C2,D2,K1,K0,B3,D3,F3,K0
3,A2,B2,C2,D2,K1,K0,B6,D6,F6,K0
4,A3,B3,C3,D3,K2,K1,B7,D7,F7,K0

In [119]:
pd.merge(df6, df7, on='key1')

    A B_x   C D_x key1 key2_x B_y D_y   F key2_y
0  A0  B0  C0  D0   K0     K0  B2  D2  F2     K0
1  A1  B1  C1  D1   K0     K1  B2  D2  F2     K0
2  A2  B2  C2  D2   K1     K0  B3  D3  F3     K0
3  A2  B2  C2  D2   K1     K0  B6  D6  F6     K0
4  A3  B3  C3  D3   K2     K1  B7  D7  F7     K0

In [120]:
pd.merge(df6, df7, left_on='key1', right_on='key2')

    A B_x   C D_x key1_x key2_x B_y D_y   F key1_y key2_y
0  A0  B0  C0  D0     K0     K0  B2  D2  F2     K0     K0
1  A0  B0  C0  D0     K0     K0  B3  D3  F3     K1     K0
2  A0  B0  C0  D0     K0     K0  B6  D6  F6     K1     K0
3  A0  B0  C0  D0     K0     K0  B7  D7  F7     K2     K0
4  A1  B1  C1  D1     K0     K1  B2  D2  F2     K0     K0
5  A1  B1  C1  D1     K0     K1  B3  D3  F3     K1     K0
6  A1  B1  C1  D1     K0     K1  B6  D6  F6     K1     K0
7  A1  B1  C1  D1     K0     K1  B7  D7  F7     K2     K0

In [121]:
pd.merge(df6.iloc[:,:-1], 
         df7.loc[:,df7.columns != 'key1'], 
         left_on='key1', right_on='key2')

    A B_x   C D_x key1 B_y D_y   F key2
0  A0  B0  C0  D0   K0  B2  D2  F2   K0
1  A0  B0  C0  D0   K0  B3  D3  F3   K0
2  A0  B0  C0  D0   K0  B6  D6  F6   K0
3  A0  B0  C0  D0   K0  B7  D7  F7   K0
4  A1  B1  C1  D1   K0  B2  D2  F2   K0
5  A1  B1  C1  D1   K0  B3  D3  F3   K0
6  A1  B1  C1  D1   K0  B6  D6  F6   K0
7  A1  B1  C1  D1   K0  B7  D7  F7   K0

In [122]:
pd.merge(df6, df7, on='key1')

    A B_x   C D_x key1 key2_x B_y D_y   F key2_y
0  A0  B0  C0  D0   K0     K0  B2  D2  F2     K0
1  A1  B1  C1  D1   K0     K1  B2  D2  F2     K0
2  A2  B2  C2  D2   K1     K0  B3  D3  F3     K0
3  A2  B2  C2  D2   K1     K0  B6  D6  F6     K0
4  A3  B3  C3  D3   K2     K1  B7  D7  F7     K0

In [123]:
pd.merge(df6, df7, on='key2')

    A B_x   C D_x key1_x key2 B_y D_y   F key1_y
0  A0  B0  C0  D0     K0   K0  B2  D2  F2     K0
1  A0  B0  C0  D0     K0   K0  B3  D3  F3     K1
2  A0  B0  C0  D0     K0   K0  B6  D6  F6     K1
3  A0  B0  C0  D0     K0   K0  B7  D7  F7     K2
4  A2  B2  C2  D2     K1   K0  B2  D2  F2     K0
5  A2  B2  C2  D2     K1   K0  B3  D3  F3     K1
6  A2  B2  C2  D2     K1   K0  B6  D6  F6     K1
7  A2  B2  C2  D2     K1   K0  B7  D7  F7     K2

In [124]:
pd.merge(df6, df7, on=['key1', 'key2'])

    A B_x   C D_x key1 key2 B_y D_y   F
0  A0  B0  C0  D0   K0   K0  B2  D2  F2
1  A2  B2  C2  D2   K1   K0  B3  D3  F3
2  A2  B2  C2  D2   K1   K0  B6  D6  F6

In [125]:
pd.merge(df6, df7, on=['key1', 'key2'], how='inner')

    A B_x   C D_x key1 key2 B_y D_y   F
0  A0  B0  C0  D0   K0   K0  B2  D2  F2
1  A2  B2  C2  D2   K1   K0  B3  D3  F3
2  A2  B2  C2  D2   K1   K0  B6  D6  F6

In [126]:
pd.merge(df6, df7, on=['key1', 'key2'], how='left')

    A B_x   C D_x key1 key2  B_y  D_y    F
0  A0  B0  C0  D0   K0   K0   B2   D2   F2
1  A1  B1  C1  D1   K0   K1  NaN  NaN  NaN
2  A2  B2  C2  D2   K1   K0   B3   D3   F3
3  A2  B2  C2  D2   K1   K0   B6   D6   F6
4  A3  B3  C3  D3   K2   K1  NaN  NaN  NaN

In [127]:
pd.merge(df6, df7, on=['key1', 'key2'], how='right')

     A  B_x    C  D_x key1 key2 B_y D_y   F
0   A0   B0   C0   D0   K0   K0  B2  D2  F2
1   A2   B2   C2   D2   K1   K0  B3  D3  F3
2   A2   B2   C2   D2   K1   K0  B6  D6  F6
3  NaN  NaN  NaN  NaN   K2   K0  B7  D7  F7

In [128]:
pd.merge(df6, df7, on=['key1', 'key2'], how='outer')

     A  B_x    C  D_x key1 key2  B_y  D_y    F
0   A0   B0   C0   D0   K0   K0   B2   D2   F2
1   A1   B1   C1   D1   K0   K1  NaN  NaN  NaN
2   A2   B2   C2   D2   K1   K0   B3   D3   F3
3   A2   B2   C2   D2   K1   K0   B6   D6   F6
4   A3   B3   C3   D3   K2   K1  NaN  NaN  NaN
5  NaN  NaN  NaN  NaN   K2   K0   B7   D7   F7

In [129]:
pd.merge(df6, df7, left_index=True, right_index=True)

    A B_x   C D_x key1_x key2_x B_y D_y   F key1_y key2_y
2  A2  B2  C2  D2     K1     K0  B2  D2  F2     K0     K0
3  A3  B3  C3  D3     K2     K1  B3  D3  F3     K1     K0

In [130]:
pd.merge(df6, df7, left_index=True, right_index=True,
         how='left')

    A B_x   C D_x key1_x key2_x  B_y  D_y    F key1_y key2_y
0  A0  B0  C0  D0     K0     K0  NaN  NaN  NaN    NaN    NaN
1  A1  B1  C1  D1     K0     K1  NaN  NaN  NaN    NaN    NaN
2  A2  B2  C2  D2     K1     K0   B2   D2   F2     K0     K0
3  A3  B3  C3  D3     K2     K1   B3   D3   F3     K1     K0

In [131]:
df6.join(df7, lsuffix='_x', rsuffix='_y')

    A B_x   C D_x key1_x key2_x  B_y  D_y    F key1_y key2_y
0  A0  B0  C0  D0     K0     K0  NaN  NaN  NaN    NaN    NaN
1  A1  B1  C1  D1     K0     K1  NaN  NaN  NaN    NaN    NaN
2  A2  B2  C2  D2     K1     K0   B2   D2   F2     K0     K0
3  A3  B3  C3  D3     K2     K1   B3   D3   F3     K1     K0

In [132]:
df6.join(df7, lsuffix='_x', rsuffix='_y')

    A B_x   C D_x key1_x key2_x  B_y  D_y    F key1_y key2_y
0  A0  B0  C0  D0     K0     K0  NaN  NaN  NaN    NaN    NaN
1  A1  B1  C1  D1     K0     K1  NaN  NaN  NaN    NaN    NaN
2  A2  B2  C2  D2     K1     K0   B2   D2   F2     K0     K0
3  A3  B3  C3  D3     K2     K1   B3   D3   F3     K1     K0